body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    background-color: bisque;
    padding: 32px;
    justify-content: center;

}
.boxes {
    display: flex;
    padding: 64px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 128px;
    padding-right: 128px;
}

.buttons {

}